@model BuiChiCuong.Context.Order

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Confirm</h2>

<div>
    <h4>Order</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Đơn Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Mã Người Mua
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            Tình Trạng
        </dt>

        <dd>
            Chưa Xác Nhận
        </dd>

        <dt>
            Ngày Đặt Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>
        @using (Html.BeginForm("Confirm", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xác nhận" class="btn btn-default" /> |
                @Html.ActionLink("Trở về", "Index")
            </div>
        }
    </dl>
</div>
