@model IEnumerable<BuiChiCuong.Context.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section footer{
    <script src="~/Content/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#prtable').DataTable();
        });
    </script>
}

<h2 style="color: red ">Quản Lý Người Dùng</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
@using (Html.BeginForm("Index", "Category", FormMethod.Get))
{

}

<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Họ
        </th>
        <th>
            Email
        </th>
        <th>
            Mật Khẩu
        </th>
        <th>
            Is Admin?
        </th>
        <th>Chức Năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
